/*
* Content:
* - Globals
* - Sidebar
* - Off-Canvas
* 
*/
/* Globals */

body {
    background-color: #f5f5f5;
}
.sidebar{
    overflow: hidden scroll!important;
}
.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 5% 35%;
}
.loader .spinner-border{
    width: 10rem;
    height: 10rem;
}
/* Login */
.form-signin {
    max-width: 30%;
    margin: 150px auto;
    text-align: center;
}
.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10px;
}
.register-user-form{
    padding: 50px;
}

/*Sidebar*/
.copyright-text {
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid #4f5962;
    padding: 10px 0;
}
.user-info{
    color: #FFF;
}
.nav-header {
    padding-left: 0!important;
}
.nav-link svg {
    margin-right: 0.2rem;
    font-size: 1.1rem;
    width: 1.6rem;
    text-align: center;
}
.nav-sidebar .nav-link p {
    display: inline;
    margin: 0;
    white-space: normal;
}
/* Artwork */
.btn-container{
    margin: 0;
    text-align: right;
}
.btn-container .btn{
    margin-left: 10px;
}
/* Artwork Table */
.table-spinner{
    display: block;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
}
/* Off-Canvas */
/* Position and sizing of burger button */
.detail-text{
    color: #fff;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 5px;
}
.bm-burger-button {
    display: none;
    z-index: -9999;
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}
.error {
    border: 2px solid #FF0000;
}
.error:focus{
    border-color: #FF0000;
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 35%);
}
.edit-form-btn{
    max-width: 100%;
    text-align: center;
}
.edit-form-btn button{
    margin: 0 auto;
    width: 60%;
}
/* .offcanvas-headline {
    display: inline-block!important;
}
.off-canvas-btn {
    display: inline-block!important;
    position: relative;
    left: 10px;
} */

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}